
.navbar.navbar-toggleable-md.navbar-light.fixed-top.bg-faded(ng-controller="headerCtrl")
    a.navbar-brand(href="#") Node-Angular-Fullstack
    .collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.nav-link
                a.nav-link(href="#") Home