navbar.navbar-expand-lg.navbar-light.bg-light(ng-controller="headerCtrl")
    a.navbar-brand(href="#") Node-Angular-Fullstack
    .collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.nav-link
                a.nav-link(href="#") Home